<!DOCTYPE html>
<html lang="en">
<head>
 <title>border_radius_1</title>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
 <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
 <style>
   .rounded-1 { border-radius: 5px; } /* Слегка скругленные углы */
   .rounded-2 { border-radius: 10px; } /* Более скругленные углы */
   .rounded-3 { border-radius: 20px; } /* Значительно скругленные углы */
   .rounded-4 { border-radius: 50px; } /* Очень сильно скругленные углы */
 </style>
</head>
<body>
<div class="container text-center">
 <div class="row bg-success text-white">
 <div class="col">Обозначение границ вокруг адаптивных блоков</div>
 </div>
 <div class="row my-2">
  <div class="col mx-2 bg-warning border border-3 
  border-primary rounded-0">Блок 1</div>
  <div class="col mx-2 bg-warning border border-3
  border-primary rounded-1">Блок 2</div>
  <div class="col mx-2 bg-warning border border-3
  border-primary rounded-2">Блок 3</div>
  <div class="col mx-2 bg-warning border border-3
  border-primary rounded-3">Блок 4</div>
  <div class="col mx-2 bg-warning border border-3
  border-primary rounded-4">Блок 5</div>
  <div class="col mx-2 bg-warning border border-3
  border-primary rounded-circle">Блок 6</div>
 </div>
 <div class="row"></div>
</div>
</body>
</html>
